.titulo {
    text-align: center;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 10px;
    background-color: beige;
}



